/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/*------------------TOP BAR STYLES ------------------*/

.container.fl-content-full {
  margin: 0;
  padding: 0;
  width: auto;
  max-width: none;
}

header .fl-page-nav-collapse {
  display: flex;
  flex-wrap: wrap;
}

header .fl-page-nav-collapse .fl-page-nav-search {
  order: 1;
  margin-left: 15px;
}

ul#topbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul#topbar li {
  float: left;
  list-style-type: none;
}

ul#topbar li:first-child {
  display: flex;
  align-items: center;
}

ul#topbar li a {
  color: white;
  text-align: center;

  text-decoration: none;
}

ul#topbar li a:hover {
  color: #111111;
}

ul#topbar li .phone a span:before {
  content: "\f095";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
  font-size: 14px;
  vertical-align: bottom;
  top: 0px;
  position: relative;
}

.product-grid .fl-button {
  background-color: #a41f36 !important;
  border: 1px solid #a41f36 !important;
}

.product-grid .fl-button span {
  color: #ffffff !important;
}

.product-grid .fl-button:hover {
  background-color: transparent !important;
}

.product-grid .fl-button:hover span {
  color: #a41f36 !important;
}

.fl-page-content .fl-module.fl-module-button a.fl-button:hover {
  background: #055483;
  color: #fff;
  border-color: #055483;
}

.carousal .slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto !important;
}

.gform_wrapper ul.gform_fields li.gfield .gfield_time_ampm select {
  width: 60px !important;
  max-width: 60px !important;
}

.gform_wrapper .gfield_time_hour i {
  margin-top: -2px !important;
}

.product-grid .fl-button {
  background-color: #a41f36 !important;
  border: 1px solid #a41f36 !important;
}

.product-grid .fl-button span {
  color: #ffffff !important;
}

.product-grid .fl-button:hover {
  background-color: transparent !important;
}

.product-grid .fl-button:hover span {
  color: #a41f36 !important;
}

form select {
  padding: 6px 0px !important;
}

.gform_wrapper ul li input,
.gform_wrapper ul li select,
.gform_wrapper ul li textarea {
  color: #000 !important;
}

.gform_wrapper ul.gfield_checkbox li input[type="checkbox"],
.gform_wrapper ul.gfield_radio li input[type="radio"] {
  margin-top: 0px !important;
  vertical-align: top !important;
}

.gform_wrapper ul.gfield_checkbox li label,
.gform_wrapper ul.gfield_radio li label {
  line-height: 13px;
  vertical-align: top !important;
}

.uabb-gf-style .gform_wrapper .gfield_checkbox li label,
.uabb-gf-style .gform_wrapper .gfield_radio li label {
  vertical-align: top;
}

.gform_body
  input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not(
    [type="button"]
  ):not([type="image"]):not([type="file"]) {
  width: 100%;
}

.uabb-gf-style
  .gform_wrapper
  ul.gform_fields
  li.gfield:not(.gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
  padding-right: 15px;
}

.get-direction .fl-html .storename .direction a {
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.store-opening-hrs-container .store-opening-hrs li {
  display: flex;
  justify-content: space-between;
  padding: 0 0 10px;
}

.style-product_list .pro-container > .row {
  flex-direction: row;
}

.style-product_list .pro-container .pro-roomscene .main-image > img {
  display: block;
  visibility: hidden;
}

.style-product_list .pro-container > .row > div {
  flex: 1;
}

.style-product_list .pro-container > .row > div.clearfix {
  flex: 0;
}

.fl-builder-content .fl-node-5c6fdfb62272a a:hover {
  color: #a41f36 !important;
}

.uabb-gf-style .gform_wrapper .gfield select.large.gfield_select option {
  color: #000 !important;
}

.facet_filters .facet-wrap > strong {
  padding-bottom: 3px;
  border-bottom: 2px solid #a41f36 !important;
}
.facet_filters strong {
  font-size: 16px;
  color: #a41f36;
  display: block;
  margin: 0 0 10px;
}
.product-detail-layout-6 .product-colors ul li,
.product-detail-layout-6 .product-colors ul li.found {
  margin-right: 5px;
}
.direction a:hover {
  background: #055483 !important;
  color: #fff;
}
/*------------------END TOP BAR STYLES ------------------*/

.gform_wrapper.gform_validation_error
  .top_label
  li.gfield.gfield_error.gf_left_half,
.gform_wrapper.gform_validation_error
  .top_label
  li.gfield.gfield_error.gf_right_half {
  max-width: 50% !important;
}

.gform_wrapper.gform_validation_error
  .gform_body
  ul
  li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
  max-width: 100% !important;
  padding-right: 16px;
}

.gform_wrapper .top_label li.gfield.gfield_error.gf_left_half {
  margin-right: 0px !important;
  padding-right: 16px !important;
}

.footer-wrp ul li a:hover {
  color: #a41f36 !important;
}

.fl-node-5d2df0a834261
  .uabb-gf-style
  .gform_wrapper
  .gfield_checkbox
  li
  label
  a:hover {
  text-decoration: underline;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #a41f36;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #055483 !important;
  color: #fff !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: none !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #000000 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #000000 !important;
}

#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #055483 !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #000000 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #000000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #055483 !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #000000 !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #055483 !important;
}

.location-wrap-row .fl-module-icon .fl-icon-wrap span.fl-icon i:before {
  font-size: 37px;
  color: #a41f36;
}

.uabb-modal .popup-img-data {
  width: 40%;
  float: left;
}

.uabb-modal .popup-content-data {
  width: 60%;
  float: right;
  padding: 0 20px;
  color: #000 !important;
  font-size: 15px !important;
}

.uabb-modal-parent-wrapper .uabb-modal .uabb-content {
  max-width: 1000px !important;
  width: 100% !important;
}

.responsive-menu-open {
  overflow: hidden;
}

html:not(.responsive-menu-open) #responsive-menu-container {
  transform: translateX(-101%);
  -ms-transform: translateX(-101%);
  -webkit-transform: translateX(-101%);
  -moz-transform: translateX(-101%);
}

ul.storename .phone {
  white-space: nowrap;
}
/*Filter Select Design*/

.facetwp-selections ul:before {
  content: "Your Selection";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #a41f36;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #a41f36;
  padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label {
  font-size: 16px;
  font-weight: 700;
}

.facetwp-selections ul {
  padding-left: 0px;
  margin-bottom: 20px;
}

body .gform_wrapper .top_label .timeEstimate div.ginput_container {
  margin-top: 0 !important;
}

.gform_wrapper .timeEstimate .gfield_time_hour {
  max-width: calc(8rem + 0.5rem);
}

.gform_wrapper .timeEstimate .gfield_time_minute {
  max-width: calc(8rem + 0.5rem);
}
.gform_legacy_markup_wrapper .gfield_time_hour input[type="number"],
.gform_legacy_markup_wrapper .gfield_time_minute input[type="number"] {
  max-width: 80px !important;
  min-width: 80px !important;
  height: 50px;
}
.gform_legacy_markup_wrapper .clear-multi {
  display: flex;
  align-items: center !important;
}
.timeEstimate label {
  margin-bottom: 0;
}
.facetwp-per-page select {
  margin: 0 auto !important;
}

.gform_wrapper select {
  border: 1px solid #e6e6e6;
}

/* PLP Page Css iPad Air */
body.admin-bar button.rmp_menu_trigger {
  margin-top: 32px;
}

.facetwp-selections ul:before,
div#mm-product-list .product-list-container .facet_filters strong {
  border-bottom: 2px solid #a41f36 !important;
  color: #a41f36 !important;
}

.gform_wrapper .timeEstimate .gfield_time_hour i {
  display: none;
}
div .gform_wrapper ul.gform_fields li.gfield div.gfield_time_ampm select {
  width: 80px !important;
  text-align: left;
  max-width: none !important;
  height: 50px !important;
  padding: 10px 0 !important;
  margin-top: 9px !important;
  -webkit-appearance: auto;
}
.row.search-row .product-grid .fl-button:hover {
  background-color: #055483 !important;
  color: #fff !important;
}
.gform_wrapper li.gfield .ginput_container_time input[type="text"] {
  margin-top: 0 !important;
  padding: 0 5px !important;
  height: 50px !important;
}

.fl-slide-text > table.holiday_notes_table {
  margin: 0 auto !important;
}
table.holiday_notes_table tr th {
  padding: 10px;
  /*   text-align:center; */
  font-size: 20px;
}

.button-wrapper-default a.text-right,
.button-wrapper a.text-right {
  display: none;
}
.fl-page {
  width: auto;
}
.firefox .bx-wrapper .bx-loading {
  display: none !important;
}
.fl-content-slider .fl-slide {
  visibility: visible;
}
/* new plp css */

.product-plp-grid .product-variations1 .slides figure {
  margin: 0px !important;
}
.facet_filters .facet-wrap > strong {
  padding-bottom: 3px;
}

.product-plp-grid .product-row .fl-post-grid-post .fl-post-grid-image {
  min-height: 240px;
}
.product-plp-grid .product-grid.btn-grey > a:hover {
  color: #a41f36 !important;
}
/* new plp css */
.footermenu .menu-item a {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
}
.home-tab .fl-tabs-labels {
  background-color: #384e77;
}

footer .fl-module-content a {
  font-size: 14px;
}
ul.storename {
  padding-left: 0;
  list-style-type: none;
}

.fl-page-bar-text-2 .phone.retailer span {
  color: #fff;
}
.fl-page-header-primary .fl-logo-img {
  max-width: 170px;
}

.ui-datepicker-title select {
  color: #000;
}

.gfield_checkbox a {
  color: #055483;
}
.fl-page a.fl-button * {
  color: #fff;
}
.product-detail-layout-5 .product-variations {
  margin-top: 0px !important;
}
.uabb-gf-style .gform_wrapper .gfield select.large.gfield_select {
  height: 50px;
  margin-top: 0 !important;
  border-radius: 4px;
}

.container .row .product-detail-layout-6 .product-variations img {
  padding: 5px !important;
}

.container .row .product-detail-layout-6 .color-box {
  min-height: 50px;
}
.container .row .product-detail-layout-6 .color-box .color-boxs-inner {
  margin-bottom: 0px !important;
}
.product-detail-layout-6 .image-expander img {
  filter: drop-shadow(0px 0px 2px black);
}

/*New pdp css */
.container .row .product-detail-layout-6 #product-images-holder > div {
  background-size: cover !important;
}

.product-detail-layout-6 .toggle-image-thumbnails {
  width: 100%;
}
.product-detail-layout-6 .slide.selected-slide:after {
  height: 30% !important;
  width: 30% !important;
  background-size: contain;
  top: 30% !important;
  left: 35%;
}

/*New PDP Button Color css */
.product-detail-layout-6 .dual-button a {
  background-color: #a41f36 !important;
  color: #fff !important;
  border-style: solid;
  border-width: 1px;
  border-color: #a41f36;
}

.product-detail-layout-6 .dual-button a:hover {
  color: #a41f36 !important;
  background-color: transparent !important;
  border-style: solid;
  border-width: 1px;
  border-color: #a41f36;
}

.product-detail-layout-6 .button-wrapper > a {
  color: #fff !important;
  background-color: #a41f36 !important;
  border-style: solid;
  border-width: 1px;
  border-color: #a41f36;
}

.product-detail-layout-6 .button-wrapper > a:hover {
  background-color: transparent !important;
  color: #a41f36 !important;
  border-style: solid;
  border-width: 1px;
  border-color: #a41f36;
}

.gfield_captcha_input_container.math_medium input {
  width: auto !important;
}

#responsive-menu-additional-content .phone span:before {
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px !important;
  font-size: 16px !important;
}

.fl-page-nav-col,
.fl-page-fixed-nav-wrap,
.fl-page-nav-col .fl-page-nav-wrap,
.fl-page-fixed-nav-wrap .fl-page-nav-wrap {
  display: table-cell !important;
}
/*Roomvo button CSS*/
.page-id-1131647
  a.uabb-button.uabb-creative-button.uabb-creative-flat-btn.uabb-none-btn,
.page-id-1131647 a.uabb-btn.uabb-btn-one {
  background: #ab2537 !important;
  border: 1px solid #ab2537 !important;
  border-radius: 0px !important;
}

.page-id-1131647 a.uabb-btn.uabb-btn-two {
  border-radius: 0px !important;
}
/*Roomvo button hover*/
.page-id-1131647
  a.uabb-button.uabb-creative-button.uabb-creative-flat-btn.uabb-none-btn:hover,
.page-id-1131647 a.uabb-btn.uabb-btn-one:hover,
.page-id-1131647 a.uabb-btn.uabb-btn-two:hover {
  background: #ab2537 !important;
  border: 1px solid #ab2537 !important;
}

.product-grid.btn-grey > h4 > span,
a.link.getcouponbtnlink span,
#breadcrumbs *,
#breadcrumbs a,
.product-grid.btn-grey .product-variations1 > h5,
.product-detail-layout-6 .product-variations .color-boxs-inners small {
  font-size: 14px !important;
}

.gform_legacy_markup_wrapper textarea.large {
  height: 180px !important;
}
.fl-callout-photo a {
  display: block;
  width: 100%;
  text-align: center;
}

.fl-callout-photo .fl-photo-img {
  width: 100%;
}

.bgmenu,
.menu-item-349407 {
  background-color: #a41f36;
  padding-left: 5px;
  padding-right: 5px;
}

.bgmenu a:link {
  color: white !important;
}
.bgmenu a:visited {
  color: white !important;
}
.bgmenu a:hover {
  color: #e8e8e8 !important;
}
.bgmenu a:active {
  color: white !important;
}

@media (min-width: 1024px) {
  .col-sm-10.col-md-6.text-right.clearfix {
    padding-top: 5px;
  }
}

@media (max-width: 1024px) {
  ul#topbar li a {
    font-size: 11px;
    padding: 5px;
  }
  .fl-page-nav .navbar-nav li > a {
    padding: 15px 8px;
    font-size: 13px;
  }
  .style-product_list .pro-container .pro-details .button-wrapper a.button {
    min-width: auto;
  }
  .fl-page-nav .navbar-nav li > a {
    padding: 15px 7px !important;
  }
  .product-detail-layout-6 .toggle-image-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .fl-page-nav-right .fl-page-nav ul.navbar-nav,
  header .col-sm-12.col-md-10.fl-page-nav-col {
    display: none !important;
  }
  ul#topbar > li:last-child {
    display: block !important;
  }
  .social-icons-container {
    text-align: center;
  }
  .fl-button span.fl-button-text {
    color: #fff;
  }
  .uabb-gf-style .gform_wrapper .gform_footer input[type="submit"] {
    width: auto !important;
    color: #fff;
  }
  .homePageSlider .fl-slide-foreground {
    /* display: none; */
  }

  .facetwp-per-page-select {
    margin-left: auto;
    margin-right: 0px !important;
  }
  #rmp-menu-wrap-1114168 .rmp-submenu .responsive-menu-item-link {
    height: 40px;
    line-height: 40px;
    letter-spacing: 0px;
    font-size: 13px;
    border-bottom: 1px solid #212121;
    font-family: inherit;
    font-weight: normal;
    color: #ffffff;
    text-align: left;
    background-color: #212121;
    padding-left: 15%;
    display: block;
  }
  #rmp-menu-additional-content-1114168 .storename li a {
    color: #fff;
  }
  .facet_filters {
    position: static;
    width: auto;
    box-shadow: none;
  }
  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: none;
  }
  .facetwp-per-page,
  .facetwp-pager {
    text-align: right !important;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts {
    text-align: left !important;
  }
  #responsive-menu-wrapper .storename .phone > a {
    color: #fff;
  }

  .fl-builder-content-97052 .fl-node-5d7f5495decba.fl-col > .fl-col-content {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
  .fl-builder-content-97052 .fl-col[data-node] .fl-col-content {
    margin: 0px;
  }
  .fl-builder-content-97052 .fl-node-5dcd4d63babf0 img {
    padding: 0 20px;
  }
  .fl-builder-content-97052
    .fl-node-5d7f5495deccd.fl-row
    > .fl-row-content-wrap {
    padding-bottom: 30px;
  }
  .fl-builder-content-97052
    .fl-node-5d7f5495decc9.fl-row
    > .fl-row-content-wrap {
    margin-top: -49px !important;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decd6 > .fl-module-content,
  .fl-builder-content-97052 .fl-node-5d7f5495dece3 > .fl-module-content {
    margin-top: 20px !important;
  }
  .fl-builder-content-97052
    .fl-node-5dcd4a3e3035b.fl-module
    > .fl-module-content {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decc5 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decba > .fl-col-content {
    margin-right: 10px;
    margin-left: 10px;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decba {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left;
  }
  .fl-builder-content-97052
    .fl-node-5d7f5495decb6.fl-row
    > .fl-row-content-wrap {
    padding-top: 0px;
  }
  .fl-builder-content-97052 .fl-row[data-node] .fl-row-content-wrap {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .fl-builder-content-97052
    .fl-node-5d83277bab2cd.fl-module
    > .fl-module-content {
    margin-top: 30px;
    padding: 0px 20px;
  }
  .fl-builder-content-97052 .fl-visible-desktop-medium {
    display: none;
  }
  .fl-builder-content-97052 .fl-visible-mobile {
    display: block;
  }
  .fl-builder-content-97052
    .fl-col-group-custom-width.fl-col-group-responsive-reversed
    .fl-node-5d7f5495decd8 {
    flex-basis: 100%;
  }
  .fl-builder-content-97052
    .fl-col-group-custom-width.fl-col-group-responsive-reversed
    .fl-node-5d7f5495decd9 {
    flex-basis: 100%;
  }
  .fl-builder-content-97052
    .fl-col-group-responsive-reversed
    .fl-col:nth-of-type(1) {
    -webkit-box-ordinal-group: 12;
    -moz-box-ordinal-group: 12;
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .fl-builder-content-97052
    .fl-col-group-responsive-reversed
    .fl-col:nth-of-type(2) {
    -webkit-box-ordinal-group: 11;
    -moz-box-ordinal-group: 11;
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decd8.fl-col > .fl-col-content {
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decc0 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left;
    text-align: center;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decc1 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decc1.fl-col > .fl-col-content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495dece2 > .fl-module-content {
    margin: 20px 0 !important;
  }

  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0px;
  }
  /* Slider height issue on mobile open */
  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 500px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: 2;
  }
  /* Slider height issue on mobile closed */
  /* Facet Filter CSS	- iPad */
  .facet_filters .close_bar {
    display: block;
  }
  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .facetwp-per-page-select {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .open_sidebar a {
    float: none !important;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }
  .facet_filters .close_bar .close {
    float: right;
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-pager {
    float: none !important;
    margin-top: 10px;
  }
  /* Products List CSS - iPad */
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .product-row > div.col-md-3:nth-child(3n + 1) {
    clear: none !important;
  }
  .facetwp-per-page select {
    margin: 0 auto !important;
  }
  div#main_header_nav .fl-menu-mobile-toggle {
    float: right;
    margin-right: 15px;
  }
}
@media (max-width: 768px) {
  .product-detail-layout-6 .imagesHolder #roomvo {
    width: 100% !important;
    padding-bottom: 0;
    left: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
  }
  header .col-sm-12.col-md-10.fl-page-nav-col {
    display: none !important;
  }
  div#rmp-menu-additional-content-1114168 {
    text-align: left;
  }
  .featured-products .featured-product-list .featured-product-item {
    width: 33.33%;
  }
  .featured-products
    .featured-product-list
    .featured-product-item
    .prod-img-wrap {
    justify-content: center;
  }
  .featured-products
    .featured-product-list
    .featured-product-item
    .product-info {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .fl-page-bar .fl-page-bar-row .text-left * {
    text-align: left !important;
  }
  ul#topbar > li:last-child {
    float: none !important;
  }
  .fl-module-heading h1.fl-heading {
    line-height: 48px !important;
  }

  .fl-page-header-fixed ~ .fl-page-bar {
    display: block !important;
  }
  .fl-page-header-fixed ~ .fl-page-bar .fl-page-bar-row .col-sm-10 {
    display: none !important;
  }
  .fl-page-header-fixed ~ .fl-page-bar .fl-page-bar-row .text-left * {
    width: 100%;
  }
  #rmp_menu_trigger-1114168 {
    top: 90px !important;
  }

  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-per-page,
  .facetwp-pager {
    float: none;
  }
  .facetwp-per-page,
  .facetwp-pager,
  #product-list-top-filters .fl-heading,
  .facetwp-counts {
    text-align: center !important;
  }
  .br-none .uabb-infobox-title-wrap .uabb-infobox-title br {
    display: none;
  }
  #responsive-menu-additional-content ul li .phone a {
    color: #fff !important;
  }
  .fl-page-bar .fl-page-bar-row.row {
    display: flex;
    justify-content: space-between;
  }
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0px !important;
  }
  .fl-page-bar {
    display: none !important;
  }
  .featured-products .featured-product-list .featured-product-item {
    width: 50%;
  }
}

@media (max-width: 599px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 48%;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: none !important;
  }
}
@media (max-width: 500px) {
  .product-detail-layout-6 .image-expander {
    right: 25px !important;
  }
  .featured-products .featured-product-list .featured-product-item {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100%;
    clear: both !important;
  }

  .product-detail-layout-6 .product-attributes tr td,
  .product-detail-layout-6 .product-attributes tr th {
    word-break: break-all;
    vertical-align: middle;
  }
}

@media (max-width: 450px) {
  .fl-page-bar .fl-page-bar-row.row {
    display: block;
  }
  .fl-page-bar .fl-page-bar-row .text-left {
    width: 100%;
    float: none;
    padding: 0px;
    text-align: center !important;
  }
  .fl-page-bar .fl-page-bar-row .text-left * {
    text-align: center !important;
  }
  .fl-page-bar .fl-page-bar-row .text-right {
    /* display: none; */
  }
  .fl-col-group .boxes-on-mobile-full-width {
    width: 100% !important;
  }
  footer .fl-col-group .boxes-on-mobile-full-width {
    width: 100% !important;
  }
  .uabb-gf-style
    .gform_wrapper
    ul.gform_fields
    li.gfield:not(.gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
    padding-right: 0;
  }
  button#responsive-menu-button {
    top: 115px !important;
  }
}

@media (max-width: 380px) {
  .rmp-menu-item-link {
    font-size: 12px !important;
  }
  .rmp-submenu .rmp-menu-item-link {
    font-size: 10px !important;
  }
}
